.container {
    background-color: rgb(205, 28, 28);
    max-width: 500px;
    height: 74vh;
    width: 100%;
    padding: 20px;
    -webkit-box-shadow: -3px -1px 26px 10px rgba(89, 24, 2, 1);
    -moz-box-shadow: -3px -1px 26px 10px rgba(89, 24, 2, 1);
    box-shadow: -3px -1px 26px 10px rgba(89, 24, 2, 1);

    h2 {
        font-weight: 600;
        font-size: 1.6em;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;

        border-bottom: 2px inset rgba(89, 24, 2, 1);


    }

    .wrapper {
        margin: 1.25rem;



        .input-box {
            input {
                width: 100%;
                height: 60px;
                background: none;
                color: #fff;
                border-radius: 4px;
                font-size: 1rem;
                letter-spacing: 1.3px;
                padding: 0 2.85rem 0 1.3rem;
                font-weight: 600;
                border: 2px solid rgb(255, 255, 255);
            }

            span {
                position: absolute;
                right: 13px;
                cursor: pointer;
                line-height: 60px;
                color: rgba(255, 255, 255, 0.551);
            }
        }

        .pass-indicator {
            width: 100%;
            height: 4px;
            position: relative;
            background-color: #fff;
            margin-top: 1rem;
            border-radius: 25px;

            &#zayif {
                &::before {
                    width: 20%;
                    background: #e64a4a;
                }
            }

            &#orta {
                &::before {
                    width: 50%;
                    background: #c4e438;
                }
            }


            &#guclu {
                &::before {
                    width: 100%;
                    background: #00f224;
                }
            }

            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 50%;
                background-color: rgb(199, 248, 4);
                transition: width .6s ease;
                border-radius: 15px;


            }



            .pass-length {
                .details {
                    padding: 1rem 0 1rem 0;
                    display: flex;
                    justify-content: space-between;
                }

                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                    background: black;

                    &::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 5.4px;
                        cursor: pointer;


                        border-radius: 5px;
                    }

                    &::-webkit-slider-thumb {
                        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                        border: 2px solid gray;
                        height: 15px;
                        width: 15px;

                        background: #010101;
                        cursor: pointer;
                        -webkit-appearance: none;
                        margin-top: -5px;
                    }

                    &:focus::-webkit-slider-runnable-track {
                        background: #bebed1d4;
                    }

                    &:focus {
                        outline: none;
                    }

                    // diğer tarayıcılar için kişiselleştir!


                }
            }

            .pass-settings {
                margin-top: 1rem;

                .options {
                    display: flex;
                    flex-wrap: wrap;
                    // verilen boyutu alıyor ve sığmazsa aşağıya alıyor
                    margin-top: 1rem;

                    .option {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
                        width: calc(100% / 2);

                        input[type="checkbox"] {
                            width: 1.15em;
                            height: 1.15em;
                            cursor: pointer;



                        }

                        label {
                            cursor: pointer;
                            padding-left: 0.65rem;
                        }

                        &:first-child {
                            pointer-events: none;

                            &>input {
                                opacity: 0.6;


                            }

                        }


                    }
                }
            }

            button {
                &.generateBtn {
                    width: 100%;

                    font-size: 0.8rem;
                    padding: 0.94rem 0;
                    margin: 0.94rem 0;
                    border-radius: 6px;
                    background-color: rgb(4, 4, 4);
                    color: rgb(255, 255, 255);
                    font-weight: 700;
                    cursor: pointer;
                    border: 3px solid gray;
                    text-transform: uppercase;
                }
            }
        }
    }

}